:root {
  --primary: #fff;
}

.btn {
  padding: 8px 20px;
  border-radius: 2px;
  outline: none;
  border: none;
  cursor: pointer;
}

.btn--primary {
  background-color: var(--primary);
  color: #242424;
  border: 1px solid var(--primary);
}

/* Eu, David, dicionei uma animação para os botões outline*/
.btn--primary:hover {
  filter: brightness(0.8);
  transition: all 0.3s;
}

.btn--outline {
  background-color: transparent;
  color: #fff;
  padding: 8px 20px;
  border: 1px solid var(--primary);
  transition: all 0.3 ease-out;
}

/* Eu, David, dicionei uma animação para os botões outline*/
.btn--outline:hover {
  background-color: white;
  color: black;
  transition: all 0.3s;
}

.btn-medium {
  padding: 8px 20px;
  font-size: 20px
}

.btn-large {
  padding: 12px 50px;
  font-size: 20px
}

.btn-mobile-size {
  padding: 4px;
  font-size: 25px;
  width: 100%;
}

.btn-medium:hover,
.btn-large:hover {
  background: #fff;
  color: 242424;
  transition: all 0.3 ease-out;
}
