.form {
  background-color: rgba(0, 0, 0, 0.371); 
  color: #fff;
  width: 30%;
  border-radius: 20px;
}

.form-header {
  width: 100%;
  padding: 0 20px;
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  gap: 10px;
}

.form-container > input {
  padding: 10px 10px;
  border-radius: 30px;
  font-size: 20px;
}

.form-footer {
  display: flex;
  justify-content: end;
  padding: 10px;
  margin-top: 10px;
}

.form-footer .btn {
  padding: 8px 20px;
  font-size: 20px;
  width: 200px;
  border-radius: 60px;
}


@media only screen and (max-width: 950px){

  .form {
    width: 80%;
  }

  .form-header {
    width: 100%;
    padding: 0 20px;
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    gap: 10px;
  }

  .form-container > input {
    padding: 10px 10px;
    border-radius: 30px;
    font-size: 20px;
  }
  
  .form-footer {
    display: block;
    padding: 10px;
    margin-top: 10px;
  }

  .form-footer .btn {
    padding: 8px 20px;
    font-size: 20px;
    width: 100%;
    border-radius: 30px;
  }

}

